* {
	box-sizing: border-box;
}

body {
	@include font-size($base-font-size);
	@include font-family($main-font, $font-sans-serif);
	color: $base-font-color;
}

img {
	width: 100%;
	max-width: 100%;
	height: auto;
}