<form (submit)="login()" class="form form--login">
	<div class="form__row">
		<label for="email" class="form__label">Email Address</label>
		<input type="email" id="email" name="email" required [(ngModel)]="email" class="input input--text" >
	</div>

	<div class="form__row">
		<label for="password" class="form__label">Password</label>
		<input type="password" id="password" name="password" required [(ngModel)]="password" class="input input--text">
	</div>
	<div class="form__row form__actions">
		<input type="submit" class="button" value="Log In">
		<a class="button" routerLink="../register">Register</a>
	</div>
</form>
